{% extends "nlbase.html" %}
{% load staticfiles %}
{% block title %}
    <title>Columbus</title>
{% endblock %}
{% block nlbody %}
    <div class="docs-header" id="content" tabindex="-1">
        <div class="container" style="text-align: center">
            <img src="{% static 'images/logo-wo.png' %}" width="256px" height="256px" style="margin-bottom: 30px;">
            <h1 style="margin-right: 0px;">Columbus</h1>
            <p class="lead center">A Cloud based Scientific Workflow and Analytics Engine for large Multi-Dimensional
                Spatio-Temporal
                Datasets.</p>
            <p style="margin: 20px 20px 0px 20px; color: #9783b9; font-size: 16px;">Currently v1.0.0-Alpha</p>
        </div>
    </div>
    <div id="home-div" class="container" style="text-align: center; margin-bottom: 50px">
        <h2 class="featurette-title">Streamline your analyses with a Workflow</h2>
        <p class="lead center">Develop workflows easily with Columbus and keep track of your analysis without any
            hassle.
            Perform complex GIS computations on the web, share results with your fellow users, and more.</p>
        <hr style="width: 100px; margin: 40px auto;">
        <div class="row">
            <div style="display: inline-block">
                <img alt="Environmental Defense Fund"
                     src="{% static 'images/edf_logo.png' %}"
                     title="Environmental Defense Fund (0164-000000-10410-100)"
                     width="180px" height="90px;">
            </div>
            <div style="display: inline-block">
                <img alt="National Science Foundation"
                     src="{% static 'images/NSF.png' %}"
                     title="US National Science Foundation’s Advanced Cyberinfrastructure (ACI-1553685)"
                     style="margin-left: 20px; margin-right: 35px;" width="90px" height="90px">
            </div>
            <div style="display: inline-block">
                <img alt="Google Inc."
                     style="margin-left: 20px; margin-right: 35px;"
                     src="{% static 'images/google-full-logo.jpg' %}" title="Google Cloud Credits Beta Program"
                     width="160px" height="90px">
            </div>
            <div style="display: inline-block">
                <img alt="Colorado State University"
                     title="Dept of Computer Science, Colorado State University"
                     src="{% static 'images/csu-logo.png' %}"
                     width="210px" height="90px">
            </div>
        </div>
        <hr style="width: 100px; margin: 40px auto;">
        <p class="lead center">Columbus is open source. It's developed and maintained on GitHub.</p>
        <a href="https://github.com/jkachika/columbus" class="btn btn-outline btn-lg external">View the GitHub
            project</a>
    </div>
{% endblock %}
{% block nlbodyscripts %}
    <script>
        $(document).ready(function () {
            var $navigation = $('#navigation');
            var $header = $('#content');
            var $footer = $('footer');
            var height = $navigation.css('height') + ' - ' + $header.css('height') + ' - ' + $header.css('marginTop') + ' - '
                    + $header.css('marginBottom') + ' - ' + $footer.css('height') + ' - ' + $footer.css('marginTop') + ' - ' +
                    $footer.css('marginBottom');
            $('#home-div').css('min-height', 'calc(100% - ' + height + ')');
        });
    </script>
{% endblock %}