{% extends "base.html" %}
{% load staticfiles %}
{% load edf_filters %}
{% block title %}
    <title xmlns="http://www.w3.org/1999/html">Review</title>
{% endblock %}
{% block headers %}
    <link href="{% static 'css/jquery.growl.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/nanoscroller.css' %}">
    <script src="{% static 'js/jquery.nanoscroller.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.blockUI.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.growl.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/overlays.js' %}" type="text/javascript"></script>
    <style>
        .review-header-label {
            margin-top: 15px;
            font-size: medium;
            font-weight: 300;
        }

        .review-instance-label {
            margin-top: 5px;
            margin-bottom: 0px;
            font-size: medium;
            font-weight: 300;
        }

        h1 {
            margin-top: 0px;
        }

        hr {
            margin-top: 5px;
            margin-bottom: 15px;
            background-color: #eee;
        }

        span {
            font-size: medium;
            word-wrap: break-word;
            white-space: pre-wrap;
        }
    </style>
{% endblock %}
{% block content %}
    <form id="instances-review-form" action="/generate" method="post" style="height: calc(100% - 70px);">
        {% csrf_token %}
        <div class="row" style="background-color: #eee; margin: 5px;">
            <div class="col-xs-4">
                <label class="review-header-label">Workflow</label><br/>
                <h1 class="nonbreaking-title">{{ flow_name }}</h1>
                <input type="hidden" value="{{ flow_id }}" id="flow_id" name="flow_id">
            </div>
            <div class="col-xs-1">
                <label class="review-header-label">Root</label><br/>
                <h1>{{ root }}</h1>
            </div>
            <div class="col-xs-1">
                <label class="review-header-label">Non-root</label><br/>
                <h1>{{ non_root }}</h1>
            </div>
            <div class="col-xs-1">
                <label class="review-header-label">Combiners</label><br/>
                <h1>{{ combiners }}</h1>
            </div>
            <div class="col-xs-1">
                <label class="review-header-label">Total</label><br/>
                <h1>{{ total }}</h1>
            </div>
            <div class="col-xs-1">
                <label class="review-header-label">Sources</label><br/>
                <h1>{{ sources }}</h1>
                <input type="hidden" name="sources" value="{{ sources }}" id="sources">
            </div>
            <div class="col-xs-1">
                <label class="review-header-label">Instances</label><br/>
                <h1>{{ instance_count }}</h1>
                <input type="hidden" name="instance_count" value="{{ instance_count }}" id="instance_count">
            </div>
            <div class="col-xs-1">
                <label class="review-header-label">Selected</label><br/>
                <h1 id="selected-count-text">{{ instance_count }}</h1>
                <input type="hidden" name="selected_count" value="{{ instance_count }}" id="selected_count">
            </div>
            <div class="col-xs-1" style="height: 100px; text-align: right">
                <input type="image" src="{% static 'images/proceed.png' %}" width="48px" height="48px"
                       title="Proceed" alt="Proceed" style="margin: 26px 0px"/>
            </div>
        </div>
        <div class="row" style="margin: 0px 5px; height: calc(100% - 105px);">
            <div class="col-xs-12" style="padding: 0px; height: 100%">
                <div style="height: 35px; width: 100%; background-color: #444; color: white; line-height: 35px;
                margin-bottom: 15px;">
                    <div style="float: left; width: 2.5%; text-align: center">
                        <input type="checkbox" id="toggle-all" name="toggle-all" style="margin-top: 12px;" checked/>
                    </div>
                    <div style="float: left; width: 97.5%; ">
                        <span style="font-size: 16px; font-weight: 300">Instance Details</span>
                    </div>
                </div>
                <div id="instance-list-wrapper" style="height: calc(100% - 50px); width: 100%;" class="nano"
                     xmlns="http://www.w3.org/1999/html">
                    <div id="instance-list" class="nano-content">
                        {% for instance_id, instance in instances.items %}
                            <div class="row" style="width: 100%; margin-left: 0px; margin-bottom: 3px;">
                                <div style="float: left; width: 2.5%; text-align: center">
                                    <input type="checkbox" name="{{ instance_id }}-select" style="margin-top: 12px;"
                                           checked onchange="toggleSelection(this);"/>
                                </div>
                                <div style="float: left; width: 6.5%;">
                                    <label class="review-instance-label">Priority</label><br/>
                                    <input type="image" src="{% static 'images/down_arrow.png' %}" width="20px"
                                           height="20px" onclick="return decreasePriority('{{ instance_id }}');"
                                           style="margin-bottom: -5px;"/>
                                    <span id="{{ instance_id }}-priority-text">3</span>
                                    <input type="hidden" value="3" id="{{ instance_id }}-priority"
                                           name="{{ instance_id }}-priority">
                                    <input type="image" src="{% static 'images/up_arrow.png' %}" width="20px"
                                           height="20px" onclick="return increasePriority('{{ instance_id }}');"
                                           style="margin-bottom: -5px;"/>
                                </div>
                                <div style="float: left; width: 91%;">
                                    {% for part in instance %}
                                        <div class="row" style="margin-bottom: 15px;">
                                            <div style="float:left; width: 18%;">
                                                <label class="review-instance-label">Targets</label><br/>
                                                <span>{{ part.targets | target_names:", " }}</span>
                                            </div>
                                            <div style="float:left; width: 12%;">
                                                <label class="review-instance-label">Source</label><br/>
                                                {% if part.query.source == 'drive' %}
                                                    <span>Google Drive</span>
                                                {% elif part.query.source == 'combiner' %}
                                                    <span>Workflow Combiner</span>
                                                {% elif part.query.source == 'galileo' %}
                                                    <span>Galileo Storage<br>System</span>
                                                {% elif part.query.source == 'bigquery' %}
                                                    <span>Google Bigquery</span>
                                                {% endif %}
                                            </div>
                                            {% if part.query.source == 'drive' %}
                                                <div style="float:left; width: 35%;">
                                                    <label class="review-instance-label">Filename</label><br/>
                                                    <span>{{ part.query.desc }}</span>
                                                </div>
                                                <div style="float:left; width: 35%;">
                                                    <label class="review-instance-label">Identifier</label><br/>
                                                    <span>{{ part.query.identifier }}</span>
                                                </div>
                                            {% elif part.query.source == 'bigquery' %}
                                                <div style="float:left; width: 25%;">
                                                    <label class="review-instance-label">Table</label><br/>
                                                    <span>{{ part.query.identifier }}</span>
                                                </div>
                                                <div style="float:left; width: 15%;">
                                                    <label class="review-instance-label">Attribute Filter</label><br/>
                                                    <span>{{ part.query.feature }}</span>
                                                    <span>{{ part.query.op }}</span>
                                                    <span>{{ part.query.value }}</span>
                                                </div>
                                                <div style="float:left; width: 20%;">
                                                    <label class="review-instance-label">Constraint</label><br/>
                                                    {% if part.query.constraint != None %}
                                                        <span>{{ part.query.constraint }}</span>
                                                    {% else %}
                                                        <span>None</span>
                                                    {% endif %}
                                                </div>
                                                <div style="float:left; width: 10%;">
                                                    <label class="review-instance-label">Records</label><br/>
                                                    <span>{{ part.query.desc }}</span>
                                                </div>
                                            {% elif part.query.source == 'combiner' %}
                                                <div style="float:left; width: 30%;">
                                                    <label class="review-instance-label">Workflow</label><br/>
                                                    <span>{{ part.query.identifier }}</span>
                                                </div>
                                                <div style="float:left; width: 40%;">
                                                    <label class="review-instance-label">Selection Criteria</label><br/>
                                                    <span>{{ part.query.desc }}</span>
                                                </div>
                                            {% elif part.query.source == 'galileo' %}
                                                <div style="float:left; width: 15%;">
                                                    <label class="review-instance-label">Filesystem</label><br/>
                                                    <span>{{ part.query.identifier }}</span>
                                                </div>
                                                <div style="float:left; width: 15%;">
                                                    <label class="review-instance-label">Region</label><br/>
                                                    {% if part.query.polygon != None %}
                                                        <span>{{ part.query.polygon }}</span>
                                                    {% else %}
                                                        <span>None</span>
                                                    {% endif %}
                                                </div>
                                                <div style="float:left; width: 10%;">
                                                    <label class="review-instance-label">Time</label><br/>
                                                    <span>{{ part.query.temporal }}</span>
                                                </div>
                                                <div style="float:left; width: 20%;">
                                                    <label class="review-instance-label">Constraint</label><br/>
                                                    {% if part.query.where != None %}
                                                        <span>{{ part.query.where }}</span>
                                                    {% else %}
                                                        <span>None</span>
                                                    {% endif %}
                                                </div>
                                                <div style="float:left; width: 10%;">
                                                    <label class="review-instance-label">Impact</label><br/>
                                                    <span>{{ part.query.desc }}</span>
                                                </div>
                                            {% endif %}

                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block bodyscripts %}
    <script src="{% static  'js/columbus-review.js' %}"></script>
{% endblock %}
