{% extends "nlbase.html" %}
{% load staticfiles %}
{% block title %}
    <title>Usage</title>
{% endblock %}
{% block navitems %}
    <li><a href="/?page=overview">Getting Started</a></li>
    <li class="active"><a href="/?page=usage">Usage</a></li>
    <li><a href="/?page=publications">Publications</a></li>
    <li><a href="/?page=releases">Releases</a></li>
    <li><a href="/?page=people">People</a></li>
{% endblock %}
{% block nlbody %}
    <div class="docs-header" id="content" tabindex="-1">
        <div class="container">
            <h1>Application Usage</h1>
            <p>Elements of the engine in practice, enabling visualizations, running the workflows and tracking the
                analysis.</p>
        </div>
    </div>
    <div id="usage-div" class="container bs-docs-container">
        <div class="row">
            <div class="col-md-9" role="main">
                <div class="bs-docs-section"><h1 class="page-header" id="workspace">
                    <a href="#workspace"></a>Workspace
                </h1>
                    <p class="lead">Workspace is the place to define all your elements viz. Components, Workflows,
                        Combiners, and Constraints. As of this version, you can create Polygons and Schedules too, but
                        they are reserved for future purposes and are not used by the application.</p>
                    <h2 id="w-components"><a href="#w-components"></a>Components</h2>
                    <p>Components are of two types - Root Components and Non-Root Components. A root component does not
                        have to specify it's parents but the non-root components do. A component can have another
                        component or a combiner as it's parent.</p>
                    <ol>
                        <li id="wc-root"><strong>Root Component</strong>
                            <p>Use the instructions in the below image to create a Root component.
                            </p>
                            <img src="https://raw.githubusercontent.com/jkachika/columbus/master/docs/screenshots/root-component-create.png"
                                 width="100%" style="margin-bottom: 40px;"/>
                            <p>A successfully created root component will look something like this:</p>
                            <img src="https://raw.githubusercontent.com/jkachika/columbus/master/docs/screenshots/root-component-success.png"
                                 width="100%" style="margin-bottom: 40px;"/>
                        </li>
                        <li id="wc-non-root"><strong>Non-root Component</strong>
                            <p>
                                For a non-root component, you have to specify the parents. You can choose any number of
                                parents from the given drop-down and you can choose both Components and Combiners as the
                                parents.
                            </p>
                            <img src="https://raw.githubusercontent.com/jkachika/columbus/master/docs/screenshots/nonroot-component-create.png"
                                 width="100%" style="margin-bottom: 40px;"/>
                            <blockquote>
                                <p>Note that you can neither change a root component to non-root component or the
                                    parents of a non-root component after it's creation.</p>
                            </blockquote>
                            <p>A successfully created non-root component will look something like this:</p>
                            <img src="https://raw.githubusercontent.com/jkachika/columbus/master/docs/screenshots/nonroot-component-success.png"
                                 width="100%" style="margin-bottom: 40px;"/>
                        </li>
                        <li id="wc-visualization"><strong>Visualizing Components</strong>
                            <p>If you want to visualize the output of a component on a Google map, you can do so by
                                enabling the visualize option on the component screen. Enabling visualization on a
                                component creates a Google Fusion table and the space is limited to 1GB at this writing.
                                So, please enable visualization only if you really need it. Also if your component makes
                                use of Google Earth Engine code, then at least one of the parent components must be a
                                visualizer.</p>
                            <img src="https://raw.githubusercontent.com/jkachika/columbus/master/docs/screenshots/component-visualize-create.png"
                                 width="100%" style="margin-bottom: 40px;"/>
                            <blockquote>
                                <p>When you enable visualization on a component, make sure you select at least one
                                    interested party for the visualization otherwise you will not be able to access the
                                    visualization outside of Columbus. Also, only users having gmail e-mail address will
                                    appear in the Interested Parties drop-down. Users can see the created Fusion table
                                    as part of their google drive.</p>
                            </blockquote>
                            <p>You should see something like this when you successfully create a component with
                                visualization enabled. </p>
                            <img src="https://raw.githubusercontent.com/jkachika/columbus/master/docs/screenshots/component-visualize-success.png"
                                 width="100%" style="margin-bottom: 40px;"/>
                        </li>
                    </ol>
                    <h2 id="w-workflows">Workflows</h2>
                    <p>Workflows help you to connect all the components together and run them. You should select only a
                        single component that marks as the end of your workflow and you will see what all components and
                        combiners would be involved with that flow to its right as shown below. Optionally you can share
                        workflows with the users in the system.</p>
                    <blockquote>
                        <p>
                            If you share the workflow, other users will be able to create components and combiners
                            depending on your elements. Even if you un-share the workflow later, you cannot fully revoke
                            the access given to other users if they've dependencies on your elements.
                        </p>
                    </blockquote>
                    <p>This is how the workflow screen looks like.</p>
                    <img src="https://raw.githubusercontent.com/jkachika/columbus/master/docs/screenshots/workflow-create.png"
                         width="100%" style="margin-bottom: 40px;"/>
                    <h2 id="w-combiners">Combiners</h2>
                    <p>Combiners help you combine the output of multiple runs of a single workflow. You can optionally
                        specify start or end or both to filter the workflow runs with in that time range.</p>
                    <img src="https://raw.githubusercontent.com/jkachika/columbus/master/docs/screenshots/combiner-create.png"
                         width="100%" style="margin-bottom: 40px;"/>
                    <h2 id="w-constraints">Constraints</h2>
                    <p>Constraints help you apply a filter on the raw data given as input to your root components. The
                        image below explains how can you create one. </p>
                    <img src="https://raw.githubusercontent.com/jkachika/columbus/master/docs/screenshots/constraint-create.png"
                         width="100%" style="margin-bottom: 40px;"/>
                    <h2 id="w-dummies">Dummy Elements</h2>
                    <p>You can create components and combiners as dummy elements - meaning they do not do any processing
                        or contain any code. They're helpful to build the connection to form a complex workflow. </p>
                    <blockquote>
                        <p>You should make sure that the input and output types are matching for the dummy elements
                            otherwise the workflow will fail.</p>
                    </blockquote>
                </div>
                <div class="bs-docs-section">
                    <h1 class="page-header" id="running-workflows">Running Workflows</h1>
                    <p class="lead">All the workflows that you created or were shared with you will appear in Workflow
                        dropdown on the Home page. Choose a data source - currently either Bigquery or Combiner (if the
                        starting point of your workflow is a combiner) and select an appropriate workflow and click on
                        the
                        Start Flow button. With Bigquery as data source, a workflow could be started in two ways - for
                        and
                        for-each.
                    </p>
                    <ol>
                        <li>
                            <strong>for</strong>
                            <p>
                                This run type allows you to choose some value for a particular column in the chosen
                                table. Let's say the table name is <code>ftc_subset_2015</code> and it contains
                                <code>date</code> as one of its column. You can choose this column from the feature
                                dropdown and select an operator and enter a value for that column as explained in
                                the images below.
                            </p>
                            <img src="https://raw.githubusercontent.com/jkachika/columbus/master/docs/screenshots/workflow-run-1.png"
                                 width="100%" style="margin-bottom: 40px;"/>
                            <img src="https://raw.githubusercontent.com/jkachika/columbus/master/docs/screenshots/workflow-run-2.png"
                                 width="100%" style="margin-bottom: 40px;"/>
                            <img src="https://raw.githubusercontent.com/jkachika/columbus/master/docs/screenshots/workflow-run-3.png"
                                 width="100%" style="margin-bottom: 40px;"/>
                        </li>
                        <li>
                            <strong>for each</strong>
                            <p>
                                This run type allows you to chose a particular column in the chosen table. A workflow
                                would be started for each unique value of this column in the chosen table. If the table
                                contains 100k records for 4 days with 25k records for each day, then this run will
                                create 4 workflows each dealing with 25k records.
                            </p>
                            <img src="https://raw.githubusercontent.com/jkachika/columbus/master/docs/screenshots/workflow-run-4.png"
                                 width="100%" style="margin-bottom: 40px;"/>
                        </li>
                        <li>
                            <strong>combiner</strong>
                            <p>Choose combiner as a data source if your workflow starts with a Combiner.</p>
                            <img src="https://raw.githubusercontent.com/jkachika/columbus/master/docs/screenshots/workflow-run-5.png"
                                 width="100%" style="margin-bottom: 40px;"/>
                        </li>
                    </ol>
                </div>
                <div class="bs-docs-section">
                    <h1 class="page-header" id="history">History</h1>
                    <p class="lead">This is the place where you find all your workflows. Currently this page shows only
                        your past 50 runs. The image below explains the sections on this screen.
                    </p>
                    <img src="https://raw.githubusercontent.com/jkachika/columbus/master/docs/screenshots/workflow-history.png"
                         width="100%" style="margin-bottom: 40px;"/>
                    <img src="https://raw.githubusercontent.com/jkachika/columbus/master/docs/screenshots/workflow-history-2.png"
                         width="100%" style="margin-bottom: 40px;"/>
                </div>
            </div>
            <div class="col-md-3" role="complementary">
                <nav class="bs-docs-sidebar hidden-print hidden-sm hidden-xs affix-top">
                    <ul class="nav bs-docs-sidenav">
                        <li class=""><a href="#workspace">Workspace</a>
                            <ul class="nav">
                                <li><a href="#w-components">Components</a>
                                    <ul class="nav">
                                        <li><a href="#wc-root">Root Components</a></li>
                                        <li><a href="#wc-non-root">Non-Root Components</a></li>
                                        <li><a href="#wc-visualization">Visualizing Components</a></li>
                                    </ul>
                                </li>
                                <li><a href="#w-workflows">Workflows</a></li>
                                <li><a href="#w-combiners">Combiners</a></li>
                                <li><a href="#w-constraints">Constraints</a></li>
                                <li><a href="#w-dummies">Dummy Elements</a></li>
                            </ul>
                        </li>
                        <li><a href="#running-workflows">Running Workflows</a></li>
                        <li><a href="#history">History</a></li>
                    </ul>
                    <a href="#top" class="back-to-top"> Back to top </a>
                </nav>
            </div>
        </div>
    </div>

{% endblock %}
{% block nlbodyscripts %}
    <script>
        $(document).ready(function () {
            var $navigation = $('#navigation');
            var $header = $('#content');
            var $footer = $('footer');
            var height = $navigation.css('height') + ' - ' + $header.css('height') + ' - ' + $header.css('marginTop') + ' - '
                    + $header.css('marginBottom') + ' - ' + $footer.css('height') + ' - ' + $footer.css('marginTop') + ' - ' +
                    $footer.css('marginBottom');
            $('#usage-div').css('min-height', 'calc(100% - ' + height + ')');
        });
    </script>
{% endblock %}